.BlogArticleContainer {
	width: 900px;
	height: 638px;
	border-radius: 20px;
	margin: auto;
	padding: 44px;
	background-color: var(--color-pure-light);

	@media (max-width: 1024px) {
		& {
			display: flex;
			justify-content: center;
			width: calc(100vw - 10%);
			height: 948px;
		}
	}

	@media (max-width: 810px) {
		& {
			height: 730px;
			margin-top: 28px;
			padding: 18px;
		}
	}

	@media (max-width: 550px) {
		& {
			padding: 12px;
		}
	}

	@media (max-width: 460px) {
		& {
			width: 358px;
			height: 640px;
			margin: auto;
			padding: 18px;
			overflow: hidden;
		}
	}
}

.BlogArticleContent {
	width: 836px;
	height: 554px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--color-light-green) var(--color-light-grayish-green);

	@media (max-width: 1024px) {
		& {
			width: calc(100vw - 18%);
			height: 864px;
		}
	}

	@media (max-width: 810px) {
		& {
			height: 656px;
			overflow-x: hidden;
		}
	}

	@media (max-width: 460px) {
		& {
			height: 600px;
		}
	}
}

.BlogArticleHeaderWrapper {
	display: flex;
	flex-direction: row;

	@media (max-width: 460px) {
		flex-direction: column;
		margin-right: 4px;
	}
}

.BlogArticleTitleWrapper {
	display: flex;
	flex-direction: column;
	padding-left: 20px;

	@media (max-width: 550px) {
		padding-left: 10px;
	}

	@media (max-width: 400px) {
		& {
			padding-left: 0;
		}
	}
}

.BlogArticleTitle {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 3.2rem;
	margin-top: 40px;

	@media (max-width: 820px) {
		& {
			font-size: 2rem;
			line-height: 2.8rem;
			width: 328px;
			height: 112px;
			margin-top: 8px;
		}
	}

	@media (max-width: 660px) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			width: 238px;
			height: 84px;
			margin-top: -4px;
			margin-left: -6px;
		}
	}

	@media (max-width: 460px) {
		& {
			width: 322px;
			margin-left: 0px;
		}
	}
}

.BlogArticleDate {
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.8rem;
	color: var(--color-dark-sea-green);

	@media (max-width: 660px) {
		& {
			font-size: 1.3rem;
			line-height: 1.8rem;
			margin-top: 20px;
			padding-right: 10px;
		}
	}
}

.BlogArticleText {
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.8rem;
	margin-top: 20px;
	margin-right: 20px;

	@media (max-width: 820px) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	@media (max-width: 500px) {
		& {
			font-size: 1.3rem;
			line-height: 1.8rem;
			margin-top: 8px;
			margin-right: 4px;
		}
	}
}

.BlogArticleImage {
	width: 338px;
	height: 200px;

	@media (max-width: 810px) {
		& {
			width: 256px;
			height: 172px;
		}
	}

	@media (max-width: 560px) {
		& {
			width: 200px;
			height: 150px;
		}
	}

	@media (max-width: 460px) {
		& {
			width: 322px;
			height: 188px;
			padding-right: 12px
		}
	}
}

.BlogArticleShareIconWrap {
	position: relative;
	width: 32px;
	height: 32px;
	bottom: 26px;
	left: 90%;
	border-radius: 50px;

	@media (max-width: 820px) {
		& {
			left: 74%;
		}
	}

	@media (max-width: 600px) {
		& {
			left: 60%;
		}
	}

	@media (max-width: 460px) {
		& {
			left: 85%;
		}
	}
}

.BlogArticleShareIcon {
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: 0.2px;
	right: 0.2px;
	border-radius: 50px;
	cursor: pointer;

	@media (max-width: 768px) {
		& {
			left: 0.2px;
		}
	}
}
