.privateProfileWrap {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-silver-gray);
	gap: 20px;
}

.privateProfile__navBar {
	flex: 1 0 auto;
	max-width: 400px;
	@media (max-width: 1100px) {
		& {
			display: none;
		}
	}
}

.privateProfile__main {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}

.privateProfileContent {
	margin-bottom: 14px;
	height: 100%;
}

.privateProfile__sideBar {
	flex: 1 0 auto;
	max-width: 400px;
	// @media (max-width: 1100px) {
	// 	& {
	// 		display: none;
	// 	}
	// }
}

.privateProfileHeader {
	display: block;
	width: 100%;
	@media (max-width: 1100px) {
		& {
			display: none;
		}
	}
}
