.privateProfileWrap {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-silver-gray);
	gap: 20px;
}

.privateProfileWrap__navBar {
	flex: 1 0 auto;
	max-width: 400px;
	@media (max-width: 1100px) {
		& {
			display: none;
		}
	}
}

.privateProfileContent {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}

.privateProfileWrap__sideBar {
	flex: 1 0 auto;
	max-width: 400px;
	// @media (max-width: 1100px) {
	// 	& {
	// 		display: none;
	// 	}
	// }
}

.privateProfileHeader {
	display: block;
	width: 100%;
	@media (max-width: 1100px) {
		& {
			display: none;
		}
	}
}

// .privateProfileHeader__adaptive {
// 	display: none;
// 	@media (max-width: 1100px) {
// 		& {
// 			display: inline;
// 		}
// 	}
// }
