.expensesTransactionContainer {
	display: grid;
	grid-template-columns: 30% 34% 24% 12%;
	width: 98%;
	height: 40px;
	padding-left: 8px;

	&__actionsWrapper {
		display: flex;
		margin-top: 6px;
	}

	@media (max-width: 490px) {
		& {
			grid-template-columns: 27% 34% 24% 15%;
			width: 96%;
			height: 36px;
			padding-left: 0;
		}
	}
}
.transactionData {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-top: 8px;
	color: var(--color-dark-cyan-blue);

	&:nth-child(1) {
		margin-left: 16px;
	}

	&:nth-child(4) {
		text-align: right;
	}

	@media (max-width: 1440px) {
		& {
			&:nth-child(1),
			&:nth-child(3) {
				margin-left: 6px;
			}
		}
	}

	@media (max-width: 1210px) {
		& {
			font-size: 1.3rem;
		}
		&:nth-child(1) {
			margin-left: 16px;
		}
	}

	@media (max-width: 1100px) {
		& {
			font-size: 1.6rem;
		}
	}

	@media (max-width: 800px) {
		&:nth-child(3) {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	@media (max-width: 650px) {
		& {
			font-size: 1.3rem;
			line-break: 1.8rem;
		}
	}

	@media (max-width: 490px) {
		& {
			font-size: 1.1rem;
			line-height: 1.3rem;
		}
	}
}

.deleteIcon {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	cursor: pointer;

	@media (max-width: 490px) {
		& {
			width: 16px;
			height: 16px;
			margin-left: 20px;
		}
	}
}

.editIcon {
	width: 24px;
	height: 24px;
	cursor: pointer;

	@media (max-width: 490px) {
		& {
			width: 16px;
			height: 16px;
		}
	}
}
