.-weekend- {
  color: rgb(187, 39, 39);
  font-weight: bold;
}

.input {
  cursor: pointer;
  position: inherit;
  padding: 10px;
  padding-right: 20px;
  border-radius: 8px;
  z-index: 1;
  border: 2px solid #999999;
  width: 264px;
  font-family: "Monserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background: none;
}

.input::placeholder {
  font-family: "Monserrat-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.rootInput {
  position: relative;
  color: #000000;
  display: inline-block;
}

.vect {
  position: absolute;
  top: 16px;
  right: 10px;
  color: #000000;
}

.air-datepicker-body--day-name {
  font-family: "Monserrat-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.-day- {
  font-family: "Monserrat-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.air-datepicker-nav--title {
  font-family: "Monserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  background: none;
}
