
.inform_message_block {
    display: flex;
    margin-top: 10px;
}


.inform_message_text {
    font-family: "Monserrat-regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
    margin-left: 6px;
}