.backgroundModal {
	position: fixed;
	background: transparent;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 120;
}

.modalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-inline: auto;
	padding-top: 60px;
	width: 550px;
	height: 428px;
	background: var(--color-pure-light);
	border-radius: 12px;
	box-shadow: 0px 4px 20px 0px var(--color-black-eight-part);

	&__title {
		font-size: 3.6rem;
		line-height: 4.4rem;
		font-weight: 500;
		text-align: center;
	}

	&__subtitle {
		font-size: 2rem;
		line-height: 2.8rem;
		padding-top: 10px;
		width: 70%;
		margin-inline: auto;
	}

	&__timer {
		margin-top: 20px;
		font-size: 2rem;
		line-height: 2.8rem;
		text-align: center;
		color: var(--color-dark-spring-green);
	}
}

.buttonsContainer {
	width: 100%;
	display: flex;
	gap: 24px;
	padding: 40px 66px;
	margin-top: 10px;
}
