.backgroundModal {
	position: fixed;
	background: transparent;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 120;
}

.modalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-inline: auto;
	padding-top: 30px;
	width: 420px;
	height: 130px;
	background: var(--color-pure-light);
	border-radius: 12px;
	text-align: center;
	box-shadow: 0px 4px 20px 0px var(--color-black-eight-part);
}
