.backgroundModal {
	position: fixed;
	background: var(--color-black-two-of-third);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 120;
}

.successDeleteModalContainer {
	width: 376px;
	height: 92px;
	background: var(--color-pure-light);
	padding: 30px 66px;
	margin-inline: auto;
	border-radius: 12px;
	box-shadow: 0px 4px 20px 0px var(--color-black-eight-part);

	&__title {
		font-size: 2rem;
		line-height: 2.8rem;
	}

	@media (max-width: 470px) {
		& {
			width: 240px;
			height: 62px;
			padding: 20px 22px;

			&__title {
				font-size: 1.6rem;
				line-height: 2.2rem;
			}
		}
	}
}
