.App {
  text-align: center;
  width: 1920px;
  height: 1080px;
}
.rectangle {
  display: flex;
  width: 1920px;
  height: 1080px;

  margin-left: 120px;
  background-color: #faf5e433;
}

.navigation {
  max-width: 405px;
  height: 1080px;
  background-image: url("../src/Images/navBlockBack.png");
}

.logo_block {
  padding-top: 50px;
}
.logo {
  font-family: "PlayfairDisplay-ExtraBold";
  font-size: 28px;
  font-weight: 800;
  color: #125b50;
}
.logo_text {
  font-family: "PlayfairDisplay-Medium";
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.button_navi_block {
  padding-top: 184px;
  display: flex;
  flex-direction: column;
}
.button {
  width: 405px;
  height: 80px;
  background: rgba(248, 180, 0, 0.02);
  color: #000000;
  margin-bottom: 6px;
  border: 0;
  font-family: "Monserrat-Medium";
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button:hover {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25), 0px -3px 9px rgba(0, 0, 0, 0.25);
}

.main_field_title {
  font-family: "Monserrat-Medium";
  font-size: 40px;
  font-weight: 400;
}
.input_rub {
  width: 546px;
  height: 60px;
  margin-top: 70px;
  margin-bottom: 18px;
  padding-left: 10px;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  background-color: #faf5e433;
  font-family: "Monserrat-Regular";
  font-weight: 400;
  font-size: 24px;
}
.select_element {
  width: 264px;
  height: 60px;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  font-family: "Monserrat-Regular";
  font-weight: 400;
  font-size: 24px;
  margin: 40px 19px 0px;
  padding-left: 10px;
  background-color: #faf5e433;
}
.main_field_string_input {
  width: 254px;
  height: 60px;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  font-family: "Monserrat-Regular";
  font-weight: 400;
  font-size: 24px;
  margin-top: 40px;
  padding-left: 10px;
  background-color: #faf5e433;
}
.main_field_string_button {
  cursor: pointer;
  width: 264px;
  height: 60px;
  border: 1px solid #125b50;
  color: white;
  font-family: "Monserrat-Regular";
  font-weight: 600;
  font-size: 20px;
  margin: 40px 19px 0px;
  background: #54782b;
  border-radius: 24px;
}

.main_field_analitic_h3 {
  font-family: "Monserrat-Medium";
  font-size: 28px;
  font-weight: 400;
  margin-top: 60px;
}
.option_list {
  font-family: "Monserrat-Regular";
  font-weight: 400;
  font-size: 24px;
}
.main_field_analitic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label_analitic {
  font-family: "Monserrat-Medium";
  font-size: 24px;
  font-weight: 400;
  width: 547px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.label_analitic1 {
  margin-top: 70px;
}
.analitic_string {
  margin: 30px;
}
.analitic_string_down {
  margin: 40px 9px;
  width: 264px;
}
.analitic_button {
  margin: 40px 9px;
}
