.serverErrorWrap {
	margin: auto;
	max-width: 1920px;
	height: 1080px;
	background-image: url(../../../assets/pages/serverError/error.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.serverErrorContainer {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 47%;
	left: 69%;
	transform: translate(-50%, -50%);
	text-align: left;
	width: 714px;
	height: 264px;
}

.serverErrorContainer__title {
	font-size: 4.8rem;
	font-weight: 500;
	line-height: 6rem;
	margin-bottom: 3rem;
}

.serverErrorContainer__subtitle {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;
	margin-bottom: 1.5rem;
}

@media (max-width: 1440px) {
	.serverErrorContainer {
		height: 248px;
		left: 71%;
	}
	.serverErrorContainer__title {
		font-size: 3.6rem;
		font-weight: 500;
		line-height: 4.4rem;
	}
}

@media (max-width: 1024px) {
	.serverErrorWrap {
		background-size: auto;
		background-position: 39%;
	}
	.serverErrorContainer {
		width: 463px;
		height: 344px;
		top: 41%;
		left: 73%;
	}
	.serverErrorContainer__title {
		font-size: 3.6rem;
		font-weight: 500;
		line-height: 4.4rem;
		margin-bottom: 2rem;
	}
	.serverErrorContainer__subtitle {
		font-size: 2.2rem;
		font-weight: 400;
		line-height: 3rem;
	}
}

@media (max-width: 768px) {
	.serverErrorWrap {
		background-size: auto 70%;
		background-position: 40% 75%;
	}
	.serverErrorContainer {
		width: 330px;
		height: 248px;
		top: 54%;
		left: 75%;
	}
	.serverErrorContainer__title {
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 3rem;
		margin-bottom: 1rem;
	}
	.serverErrorContainer__subtitle {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;
		margin-bottom: 0.7rem;
	}
}
@media (max-width: 540px) {
	.serverErrorWrap {
		background-position: 30% 95%;
	}
	.serverErrorContainer {
		top: 22%;
		left: 50%;	
	}
}

@media (max-width: 360px) {
	.serverErrorWrap {
		background-size: auto 50%;
		background-position: 25% 105%;
	}
	.serverErrorContainer {
		width: 320px;
		height: 210px;
		top: 41%;
		left: 50%;
		margin-bottom: 5rem;
	}
	.serverErrorContainer__title {
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 3.2rem;
		text-align: center;
	}
	.serverErrorContainer__subtitle {
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 1.8rem;
		margin-bottom: 1.2rem;
	}
}
