.backgroundModal {
	position: fixed;
	background-color: rgb(217, 217, 217, 1);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.newPasswordResponseModalWrap {
    width: 564px;
	height: 460px;
	border-radius: 12px;
	position: relative;
	left: 25%;
	top: 23%;
	box-shadow: 0 4 20px 0px rgba(0, 0, 0, 0.12);

    @media (max-width: 540) {
		& {
			width: 340px;
			height: 300px;
			left: 15%;
		}
	}
	@media (max-width: 340) {
		& {
			left: 1%;
		}
	}

}
.newPasswordResponseModalWrap:after {
	width: 100%;
  height: 100%;
	background-color: rgba(217, 217, 217, 1);
}
.newPasswordResponseModalContainer {
    text-align: center;
	padding-top: 40px;

    @media (max-width: 540) {
		& {
			padding-top: 20px;
		}
	}
}

.newPasswordResponseModalContainer__title {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 4.4rem;
	margin: 20px 16px;
	@media (max-width: 540) {
		& {
			font-size: 2.4rem;
			line-height: 3.2rem;
			margin: 6px;
		}
	}
}

.newPasswordResponseModalContainer__subtitle {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;
	text-align: left;
	width: 448px;
	margin-left: 55px;
	padding-top: 15px;

	@media (max-width: 540) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			width: 300px;
			padding-top: 10px;
			margin-left: 35px;
		}
	}
}
 
.newPasswordResponseModalContainer__subtitle:last-of-type {color: rgba(156, 157, 157, 1)}

.repeatSendButton{
    font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;
	width: 448px;
	height: 52px;
	background-image: linear-gradient(rgba(255, 225, 143, 1), rgba(240, 169, 86, 1));
	color: rgba(23, 25, 26, 1);
	margin: 30px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;

    @media (max-width: 540) {
		& {
            font-size: 1.3rem;
	        line-height: 1.8rem;
			width: 300px;
			height: 36px;
            margin: 20px 0px;
		}
	}
}