.tooltipWrap {
	width: 120px;
	height: 40px;
	border: none;
	top: -42px;
	left: -58px;
}

.tooltipContainer {
	height: 34px;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	background-color: var(--color-pure-light);
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);

	&__text {
		font-size: 1.3rem;
		line-height: 1.8rem;
		color: var(--color-eerie-black);
	}
}

.tooltip {
	height: 100%;
}

.trigonIcon {
	width: 14px;
	height: 6px;
	box-shadow: 0 4 20px 0px rgba(0, 0, 0, 0.08);
	margin-bottom: 14px;
	margin-left: 50%;
	border-top: 1px solid var(--color-pure-light);
}
