.buttonForLogin {
	width: 244px;
	height: 64px;
	border-radius: 20px;
	background: linear-gradient(179.76deg, var(--color-jasmine) 0.21%, var(--color-sandy-drown) 172.57%);
	border: none;
	color: var(--color-eerie-black);
	font-size: 2.8rem;
	font-weight: 400;
	cursor: pointer;

	@media (max-width: 1630px) {
		& {
			width: 230px;
		}
	}

	@media (max-width: 1445px) {
		& {
			width: 200px;
			height: 52px;
			font-size: 2.2rem;
		}
	}

	@media (max-width: 1265px) {
		& {
			width: 170px;
			height: 52px;
			font-size: 2.2rem;
		}
	}

	@media (max-width: 1024px) {
		& {
			width: 200px;
			height: 52px;
			font-size: 2.2rem;
		}
	}

	@media (max-width: 490px) {
		& {
			width: 156px;
			height: 36px;
			font-size: 1.6rem;
		}
	}
}

.buttonForLogin:hover {
	background: linear-gradient(179.76deg, var(--color-mustard) 0.21%, var(--color-carrot-orange) 172.57%);
}

.buttonForRegistration {
	width: 244px;
	height: 64px;
	border-radius: 20px;
	background: transparent;
	color: var(--color-eerie-black);
	font-size: 2.8rem;
	font-weight: 400;
	border: 3px solid var(--color-dark-spring-green);
	cursor: pointer;

	@media (max-width: 1630px) {
		& {
			width: 230px;
		}
	}

	@media (max-width: 1445px) {
		& {
			width: 200px;
			height: 52px;
			font-size: 2.2rem;
		}
	}

	@media (max-width: 1265px) {
		& {
			width: 170px;
			height: 52px;
			font-size: 2.2rem;
		}
	}

	@media (max-width: 1024px) {
		& {
			width: 200px;
			height: 52px;
			font-size: 2.2rem;
		}
	}

	@media (max-width: 490px) {
		& {
			width: 156px;
			height: 36px;
			font-size: 1.6rem;
		}
	}
}

.buttonForRegistration:hover {
	color: var(--color-cal-poly-pomona-green);
}

.buttonForRegistration.small {
	width: 200px;
	height: 52px;
	font-size: 2.2rem;
	border: 2px solid var(--color-dark-spring-green);

	@media screen and (max-width: 550px) {
		& {
			width: 140px;
			height: 36px;
			font-size: 1.6rem;
			border-radius: 8px;
		}
	}
}

.buttonForLogin.big {
	width: 100%;
	height: 52px;
	font-size: 2.2rem;
	@media screen and (max-width: 550px) {
		& {
			height: 36px;
			font-size: 1.6rem;
			border-radius: 8px;
		}
	}
}

.buttonForLogin.big__disabled {
	width: 100%;
	height: 52px;
	font-size: 2.2rem;
	background: var(--color-star-dust);
	cursor: not-allowed;

	@media (max-width: 550) {
		height: 36px;
		font-size: 1.6rem;
		border-radius: 8px;
	}
}

.buttonForLogin.small {
	width: 200px;
	height: 52px;
	font-size: 2.2rem;

	@media screen and (max-width: 550px) {
		& {
			width: 140px;
			height: 36px;
			font-size: 1.6rem;
			border-radius: 8px;
		}
	}
}

.buttonConfirmCookies {
	width: 266px;
	height: 52px;
	border-radius: 12px;
	background: transparent;
	color: var(--color-eerie-black);
	font-size: 2rem;
	font-weight: 400;
	border: 3px solid var(--color-dark-spring-green);
	cursor: pointer;

	@media (width < 1024px) {
		& {
			width: 213px;
			height: 36px;
			font-size: 1.6rem;
			border-radius: 8px;
		}
	}
}

.buttonConfirmCookies:hover {
	color: var(--color-cal-poly-pomona-green);
}

.buttonForExpenses {
	max-width: 244px;
	height: 52px;
	border-radius: 10px;
	width: 15%;
	color: var(--color-pure-light);
	background-color: var(--color-dark-spring-green);
	font-size: 2rem;
	line-height: 2.8rem;

	cursor: pointer;

	&__disabled {
		max-width: 244px;
		height: 52px;
		border-radius: 10px;
		width: 15%;
		color: var(--color-pure-light);
		font-size: 2rem;
		line-height: 2.8rem;
		background-color: var(--color-ash-grey);

		cursor: not-allowed;
	}

	@media (max-width: 1440px) {
		& {
			width: 21%;
		}

		&__disabled {
			width: 21%;
		}
	}

	@media (max-width: 1100px) {
		& {
			width: 15%;
		}

		&__disabled {
			width: 15%;
		}
	}

	@media (max-width: 800px) {
		& {
			width: 8%;
		}
		&__disabled {
			width: 8%;

			&__buttonName {
				display: none;
			}
		}

		&__buttonName {
			display: none;
		}
	}

	@media (max-width: 550px) {
		& {
			height: 50%;
		}

		&__disabled {
			height: 50%;
		}
	}

	@media (max-width: 490px) {
		& {
			width: 11%;
			height: 100%;
			margin: 0px 0px;
		}

		&__disabled {
			width: 11%;
			height: 100%;
			margin: 0px 0px;
		}
	}
}

.buttonForIncome {
	max-width: 144px;
	height: 50px;
	border-radius: 10px;
	color: var(--color-pure-light);
	background-color: var(--color-dark-spring-green);
	font-size: 2rem;
	line-height: 2.8rem;

	cursor: pointer;

	&__disabled {
		max-width: 144px;
		height: 50px;
		border-radius: 10px;
		width: 100%;
		color: var(--color-pure-light);
		font-size: 2rem;
		line-height: 2.8rem;
		background-color: var(--color-ash-grey);

		cursor: not-allowed;
	}

	@media (max-width: 800px) {
		flex: 1 0 auto;
		width: 50px;
		&__disabled {
			flex: 1 0 auto;
			width: 50px;
			&__buttonName {
				display: none;
			}
		}

		&__buttonName {
			display: none;
		}
	}

	@media (max-width: 490px) {
		& {
			width: 38px;
			height: 38px;
		}

		&__disabled {
			width: 38px;
			height: 38px;
		}
	}
}

.outlineButton {
	color: var(--color-eerie-black);
	transition: 0.4s;
	border-radius: 16px;
	cursor: pointer;
	// TODO: Remove after fix bug
	font-size: 2rem;
	line-height: 2.8rem;
	padding: 10px 36px;
	border: 2px solid var(--color-dark-spring-green);

	&.large {
		font-size: 2.6rem;
		line-height: 3.8rem;
		padding: 10px 34px;
		border-width: 3px;
	}

	&.middle {
		font-size: 2rem;
		line-height: 2.8rem;
		padding: 10px 36px;
		border-width: 2px;
	}

	&.small {
		font-size: 1.6rem;
		line-height: 2.2rem;
		padding: 6px 28px;
		border-width: 1.5px;
	}

	&.extra-small {
		font-size: 1.3rem;
		line-height: 1.8rem;
		padding: 6px 24px;
		border-width: 1.5px;
	}

	&:hover,
	&:active {
		color: var(--color-cal-poly-pomona-green);
		border-color: var(--color-cal-poly-pomona-green);
	}
	&:disabled {
		color: var(--color-star-dust);
		background-color: var(--color-star-dust);
	}
}
