.signUpWrap {
	max-width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: url("../../../assets/pages/signUp/background.webp");
	background-repeat: no-repeat;
	background-position: center 30%;
	background-color: var(--color-silver-gray);

	@media screen and (max-width: 1440px) {
		& {
			background-image: url("../../../assets/pages/signUp/backgroundForTablet.webp");
		}
	}
	
	@media screen and (max-width: 1240px) {
		& {
			background-size: 1100px 800px;
		}
	}
	
	@media screen and (max-width: 1120px) {
		& {
			background-image: url("../../../assets/pages/signUp/backgroundForTabletMini.webp");
			background-position: center;
			background-size: auto;
			justify-content: center;
			align-items: flex-start;
			padding-left: 80px;
		}
	}
	
	@media screen and (max-width: 910px) {
		& {
			background-image: url("../../../assets/pages/signUp/backgroundForPhone.webp");
			padding: 0;
			align-items: center;
		}
	}
	
	@media screen and (max-width: 550px) {
		& {
			background-image: none;
		}
	}
	
}

