.changePasswordWrap {
	width: 1920px;
	height: 1080px;
	background-color: rgba(248, 248, 248, 1);

	@media (max-width: 1024) {
		& {
			height: 1218px;
		}
	}
}
.changePasswordContainer {
	width: 1392px;
	height: 614px;
	position: relative;
	margin-top: 10px;

	@media (max-width: 1440) {
		& {
			right: 14%;
		}
	}
}
.ovalIcon {
	position: absolute;
	top: 10%;
	left: 20%;

	@media (max-width: 1024) {
		& {
			opacity: 0;
		}
	}
}
.changePasswordContainer__modal {
	width: 548px;
	height: 514px;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 1);
	position: relative;
	top: 30%;
	left: 52%;
	box-shadow: 0 4 20px 0px rgba(0, 0, 0, 0.12);

	@media (max-width: 1024) {
		& {
			top: 50%;
			left: 28%;
		}
	}

	@media (max-width: 768) {
		& {
			top: 29%;
		}
	}

	@media (max-width: 540) {
		& {
			width: 332px;
			height: 398px;
			top: 13%;
			left: 25%;
		}
	}

	@media (max-width: 360) {
		& {
			left: 20%;
		}
	}
	

}
.changePasswordContainer__modal__content {
	height: 388px;
	width: 420px;
	position: absolute;
	top: 3%;
	left: 11%;
	display: flex;
	flex-direction: column;
	margin: auto;

	@media (max-width: 540) {
		& {
			width: 300px;
			height: 314px;
			top: 10%;
			left: 5%;
		}
	}
}
.changePasswordContainer__form__title {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 4.4rem;
	text-align: center;
	margin: 30px;

	@media (max-width: 540) {
		& {
			font-size: 2.4rem;
			font-weight: 500;
			line-height: 3.2rem;
			margin: 0px;
		}
	}
}
.changePasswordRow {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;
	color: rgba(187, 187, 187, 1);
	width: 100%;
	height: 52px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	margin-top: 2px;

	@media (max-width: 540) {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;
		/* width: 300px; */
	}
}
.label {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;

	@media (max-width: 540) {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;
	}
}

.visibilityOffIcon {
	position:absolute;
	top: 40%;
	right: 2%;
	cursor: pointer;
}
.visibilityOffIcon2 {
	position:absolute;
	bottom: 20%;
	right: 2%;
	cursor: pointer;
}
.changePasswordHelper {
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.8rem;
	color: rgba(156, 157, 157, 1);
	margin-bottom: 20px;

	@media (max-width: 540) {
		font-size: 1.1rem;
		font-weight: 400;
		line-height: 1.4rem;
	}
}
.saveButton {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;
	width: 200px;
	height: 52px;
	background-image: linear-gradient(rgba(255, 212, 92, 1), rgba(236, 145, 40, 1));
	color: rgba(23, 25, 26, 1);
	margin: 40px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	margin-left: 30%;
}

.questionIcon {
	position: absolute;
	bottom: -25%;
	left: 28%;

	@media (max-width: 1024) {
		& {
			bottom: -75%;
			right: 40%;
		}
	}

	@media (max-width: 768) {
		& {
			bottom: -28%;
			left: 26%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}
.emailIcon {
	position: absolute;
	top: 45%;
	left: 24%;

	@media (max-width: 1024) {
		& {
			top: 15%;
			left: 28%;
		}
	}
	@media (max-width: 768) {
		& {
			left: 25%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}
.arrowsIcon {
	position: absolute;
	top: 3.5%;
	left: 48%;

	@media (max-width: 1024) {
		& {
			top: 10%;
			left: 49%;
		}
	}
	@media (max-width: 768) {
		& {
			top: 11%;
			left: 41%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}
.letterIcon {
	position: absolute;
	top: 4%;
	left: 51%;

	@media (max-width: 1024) {
		& {
			top: 11%;
			left: 52%;
		}
	}
	@media (max-width: 768) {
		& {
			left: 44%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}
.openLetterIcon {
	position: absolute;
	top: 28%;
	right: -14%;

	@media (max-width: 1024) {
		& {
			top: 25%;
			right: 18%;
		}
	}

	@media (max-width: 768) {
		& {
			top: 14%;
			right: 30%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}
.manIcon {
	position: absolute;
	top: 30%;
	right: -17%;

	@media (max-width: 1024) {
		& {
			top: 50%;
			right: 7%;
		}
	}

	@media (max-width: 768) {
		& {
			opacity: 0;
		}
	}
}
.paperAirLineIcon {
	position: absolute;
	bottom: -25%;
	right: -20%;

	@media (max-width: 1024) {
		& {
			bottom: -65%;
			right: 20%;
		}
	}
	@media (max-width: 768) {
		& {
			bottom: -28%;
			right: 30%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}
.secondOpenLetterIcon {
	opacity: 0;

	@media (max-width: 1024) {
		& {
			opacity: 1;
			position: absolute;
			bottom: -70%;
			left: 50%;
		}
	}

	@media (max-width: 768) {
		& {
			bottom: -35%;
			left: 46%;
		}
	}
	@media (max-width: 540) {
		& {
			opacity: 0;
		}
	}
}


