.root {
  margin: 65px 0px auto 10px;
}

.userDate {
  display: flex;
  align-items: center;
}

.balance {
  margin-right: 8px;
}

.balance input {
  font-family: "Monserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 200px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #999999;
  padding-left: 5px;
}

.textBalance {
  font-family: "Monserrat-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #999999;
}

.datePicker {
  margin-top: 180px;
  text-align: left;
}
