.headerWrap {
    background-color: var(--color-pure-light);
}

.headerContainer {
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding: 46px 0;
    margin: 0 auto;
    align-items: center;
}

.navigationWrap {
    display: flex;
    max-width: 660px;
    width: 100%;
    justify-content: space-between;
}

.authWrap {
    display: flex;
    gap: 24px;
}

.authLinkWrap {
    display: flex;
    gap: 34px;
}

.headerContainer__burger {
    display: none;
}

.modalWindowWrap {
    width: 500px;
    height: 405px;
    background-color: var(--color-pure-light);
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 10;
    border-radius: 16px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.modalWindowContainer {
    width: 87.2%;
    padding: 32px 0 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.menuWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.menuWrap__title {
    color: var(--color-dark-spring-green);
    font-size: 2.8rem;
    font-weight: 400;
}

.navigatingWrap {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 24px;
}

.navigationActiveLink {
    position: relative;
    text-decoration: none;
    color: var(--color-eerie-black);
    font-size: 2.8rem;
    font-weight: 400;
}

.navigationActiveLink::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    height: 3px;
    background-color: var(--color-dark-spring-green);
    width: 100%;
}

.navigationLink {
    position: relative;
    text-decoration: none;
    color: var(--color-eerie-black);
    font-size: 2.8rem;
    font-weight: 400;
}

.navigationLink::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--color-dark-spring-green);
    transition: width 0.3s ease;
}

.navigationLink:hover::before {
    width: 100%;
}

@media screen and (max-width: 1630px) {

    .navigationWrap {
        max-width: 550px;
    }

    .headerContainer__img {
        width: 275px;
    }

    .authWrap {
        gap: 20px;
    }
}

@media screen and (max-width: 1445px) {
    .headerContainer {
        padding: 38px 0;
    }

    .navigationWrap {
        max-width: 495px;
    }

    .headerContainer__img {
        width: 240px;
        height: 48px;
    }

    .navigationActiveLink,
    .navigationLink {
        font-size: 2.2rem;
    }

}

@media screen and (max-width: 1265px) {

    .navigationWrap {
        max-width: 420px;
    }

    .authWrap {
        gap: 10px;
    }

    .headerContainer__img {
        width: 215px;
        height: 43px;
    }

}

@media screen and (max-width: 1085px) {

    .navigationWrap {
        max-width: 370px;
    }

    .navigationActiveLink,
    .navigationLink {
        font-size: 2rem;
    }

}

@media screen and (max-width: 1024px) {
    .navigationWrap {
        display: none;
    }

    .authWrap {
        display: none;
    }

    .headerContainer__burger {
        display: block;
    }

    .headerContainer__img {
        width: 280px;
        height: 56px;
    }

    .navigationLink {
        width: fit-content;
    }
}

@media screen and (max-width: 490px) {
    .headerContainer__img {
        width: 130px;
        height: 26px;
    }

    .headerContainer__burger {
        height: 17px;
        width: 40px;
    }

    .headerContainer {
        padding: 48px 0;
    }

    .modalWindowContainer {
        padding: 20px 0 32px 0;
    }

    .modalWindowWrap {
        width: 360px;
        height: 276px;
    }

    .menuWrap__title {
        font-size: 2.2rem;
    }

    .navigatingWrap {
        height: 140px;
    }

    .authLinkWrap {
        gap: 14px;
    }

    .navigationActiveLink,
    .navigationLink {
        font-size: 1.6rem;
    }

    .navigationLink::before,
    .navigationActiveLink::after {
        bottom: -5px;
        height: 2px;
    }
}