.server_error {
	margin: auto;
	max-width: 1920px;
	height: 1080px;
	background-image: url(../../assets/error.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.server_error__text_wrapper {
	display: flex;
	flex-direction: column;
	font-family: "Rubik";
	position: fixed;
	top: 47%;
	left: 67%;
	transform: translate(-50%, -50%);
	text-align: left;
	width: 715px;
	height: 264px;
}

.server_error__title {
	font-size: 3rem;
	font-weight: 500;
	line-height: 3.75rem;
	margin-bottom: 1.5rem;
}

.server_error__text {
	font-size: 1.375rem;
	font-weight: 400;
	line-height: 2rem;
	margin-bottom: 0.625rem;
}

@media (max-width: 1440px) {
	.server_error {
		background-size: 100%;
	}
	.server_error__text_wrapper {
		height: 248px;
		left: 71%;
	}
	.server_error__title {
		font-size: 2.25rem;
		font-weight: 500;
		line-height: 2.75rem;
		margin-bottom: 1.25rem;
	}
}

@media (max-width: 1024px) {
	.server_error {
		background-size: auto;
		background-position: 39%;
	}
	.server_error__text_wrapper {
		width: 463px;
		height: 344px;
		top: 41%;
		left: 73%;
	}
	.server_error__title {
		font-size: 2.25rem;
		font-weight: 500;
		line-height: 2.75rem;
		margin-bottom: 1rem;
	}
	.server_error__text {
		font-size: 1.375rem;
		font-weight: 400;
		line-height: 2rem;
	}
}

@media (max-width: 768px) {
	.server_error {
		background-size: auto 73%;
	}
	.server_error__text_wrapper {
		width: 330px;
		height: 248px;
		top: 46%;
		left: 75%;
	}
	.server_error__title {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 2rem;
		margin-bottom: 1rem;
	}
	.server_error__text {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.375rem;
	}
}

@media (max-width: 360px) {
	.server_error {
		background-size: auto 50%;
		background-position: 25% 105%;
	}
	.server_error__text_wrapper {
		width: 320px;
		height: 210px;
		top: 40%;
		left: 50%;
	}
	.server_error__title {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	.server_error__text {
		font-size: 0.813rem;
		font-weight: 400;
		line-height: 1.125rem;
	}
}
