.button {
  font-family: "Monserrat-Regular";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-primary);
  color: white;
  background-color: var(--color-primary);
  border-radius: 24px;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0px 2px 5px 1px var(--color-primary);
  transform: translateY(-3px);
}
.active:hover {
  background-color: var(--color-primary);
  transform: none;
  box-shadow: none;
}

.button[disabled] {
  box-shadow: none;
  transform: none;
  cursor: auto;
}
.active {
  background-color: var(--color-primary);
}
