.calcRageInputWrap {
	margin-top: 20px;

	&__title {
		font-size: 2rem;
		font-weight: 400;
		line-height: 28px;
		color: var(--color-very-dark-grayish-blue);
	}

	.inputRangeFieldContainer {
		position: relative;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px;
		overflow: hidden;
		height: 50px;
		margin-top: 4px;

		&__input {
			width: 100%;
			height: 44px;
			box-sizing: border-box;
			font-size: 2rem;
			font-weight: 400;
			line-height: 28px;
			border: 1px solid var(--color-gainsboro);
			border-radius: 8px;
			padding-left: 12px;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
			}
		}

		&__range {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 6px;
			cursor: pointer;
			width: 100%;
			height: 4px;
			appearance: none;
			outline: none;
			border: none;
			-webkit-appearance: none;
			background: linear-gradient(
				to right,
				var(--color-dark-sea-green) var(--percentage),
				rgba(255, 0, 0, 0) var(--percentage)
			);

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 16px;
				height: 16px;
				background: var(--color-dark-sea-green);
				border-radius: 50%;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}

			&::-moz-range-thumb {
				width: 16px;
				height: 16px;
				background: var(--color-dark-sea-green);
				border-radius: 50%;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}
		}
	}

	.additionalControlWrap {
		margin-top: 4px;
		display: flex;
		gap: 8px;

		.additionalControlContainer {
			display: block;

			&__input {
				display: none;
			}

			&__label {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid var(--color-star-dust);
				border-radius: 16px;
				cursor: pointer;
				transition:
					background-color 0.3s ease,
					border 0.3s ease;

				@media (min-width: 1025px) {
					&:hover {
						border-color: var(--color-dark-sea-green);
						background-color: var(--color-dark-sea-green);
					}
				}
			}

			&__title {
				color: var(--color-star-dust);
				font-size: 1.6rem;
				font-weight: 400;
				padding: 4px 12px;
				white-space: nowrap;
				transition: color 0.3s ease;

				@media (min-width: 1025px) {
					&:hover {
						color: var(--color-pure-light);
					}
				}

				@media (max-width: 770px) {
					font-size: 1.2rem;
				}
			}
		}

		.additionalControlContainer__input:checked + .additionalControlContainer__label {
			border-color: var(--color-dark-sea-green);
			background-color: var(--color-dark-sea-green);
		}

		.additionalControlContainer__input:checked + .additionalControlContainer__label .additionalControlContainer__title {
			color: var(--color-pure-light);
		}
	}
}
