.mainPageContainer {
	display: flex;
	position: relative;
	color: var(--color-eerie-black);
	& {
		@media (width < 1920px) {
			padding-top: 40px;
		}
	}
}
.infoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 570px;
	z-index: 1;
	& {
		@media (width < 1920px) {
			height: 472px;
		}
	}
}

.infoContainer__title {
	font-weight: 500;
	font-size: 6.4rem;
	line-height: 8rem;
	& {
		@media (width < 1920px) {
			font-size: 4.8rem;
			line-height: 6.2rem;
		
		}
	}
}
.infoContainer__subtitle {
	font-size: 2.8rem;
	line-height: 4rem;
	& {
		@media (width < 1920px) {
			font-size: 2.2rem;
			line-height: 3.2rem;
		}
	}
}
.listOfFeatures {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 236px;
	& {
		@media (width < 1920px) {
			height: 192px;
			gap: 20px;
		}
	}
}
.listOfFeatures__subtitle {
	font-size: 2.8rem;
	line-height: 4rem;
	& {
		@media (width < 1920px) {
			font-size: 2.2rem;
			line-height: 3.2rem;
		}
	}
}

.listOfFeatures__ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.listOfFeatures__item {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 2.8rem;
	line-height: 4rem;
	& {
		@media (width < 1920px) {
			font-size: 2.2rem;
			line-height: 3.2rem;
		}
	}
}
.listOfFeatures__listPoint {
	width: 10px;
	height: 10px;
}
.mainPageContainer__mainPicture {
	position: absolute;
	right: 0px;
	z-index: 0;
	& {
		@media (width < 1920px) {
			width: 808px;
			height: 602px;
			top: 64px;
		}
	}
}
