.selectContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;

	&__description {
		font-size: 2rem;
		line-height: 2.8rem;
		color: var(--color-very-dark-grayish-blue);

		@media (max-width: 490px) {
			& {
				display: none;
			}
		}
	}

	&__item {
		width: 100%;
		height: 50px;
		border-radius: 8px;
		border: 1.5px solid var(--color-gainsboro);
		padding-left: 14px;
		font-size: 2rem;
	}

	&__optionValue {
		font-size: 2rem;
		line-height: 2.8rem;
	}

	@media (max-width: 490px) {
		&__item {
			height: 38px;
			font-size: 1.3rem;
		}

		&__optionValue {
			font-size: 1.3rem;
			line-height: 1.8rem;
		}
	}
}
