.backgroundModal {
	position: fixed;
	background: var(--color-black-two-of-third);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 20;
}

.changePasswordResponseModalWrap {
	margin-top: 10%;
	margin-inline: auto;
    width: 560px;
	height: 324px;
	border-radius: 12px;
	background: var(--color-pure-light);

	@media (max-width: 540) {
		& {
			width: 340px;
			height: 194px;
			left: 100px;
		}
	}
	@media (max-width: 340) {
		& {
			left: 4px;
		}
	}
}

.changePasswordResponseModalContainer {
	text-align: center;
	padding-top: 40px;

	@media (max-width: 540) {
		& {
			padding-top: 5px;
		}
	}
}

.changePasswordResponseModalContainer__title {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 4.4rem;
	margin: 10px 15px;
	@media (max-width: 540) {
		& {
			font-size: 2.4rem;
			line-height: 3.2rem;
			margin-bottom: 5px;
		}
	}
}

.changePasswordResponseModalContainer__subtitle {
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.8rem;
	text-align: left;
	width: 448px;
	margin-left: 55px;
	padding-top: 30px;

	@media (max-width: 540) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			width: 300px;
			padding-top: 10px;
			margin-left: 35px;
		}
	}
}
