.inform_block {
	width: 227px;
	height: fit-content;
	align-self: flex-end;
	position: relative;
	right: 10px;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #aaabad;
	background: #fffefa;
	z-index: 29;
}
.delete_icon {
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: end;
	cursor: pointer;
}
.inform_button {
	cursor: pointer;
	padding: 4px 7px 4px;
	border-radius: 8px;
	color: #21703c;
	border: 1px solid #21703c;
	background: none;
	margin-top: 16px;
}
