.selectContainer {
	position: relative;
	width: 100%;

	&__description {
		font-size: 16px;
		font-weight: 400;
		font-size: 2rem;
		line-height: 2.8rem;
		color: var(--color-dark-cyan-blue);
	}

	&__field {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 15px;
		cursor: pointer;
		height: 52px;
		border-radius: 8px;

		border: 1.5px solid var(--color-gainsboro);
		font-weight: 400;
		font-size: 2rem;
		line-height: 2.8rem;
		color: var(--color-dark-cyan-blue);

		transition: border-color 0.2s ease-in-out;
		@media (min-width: 1025px) {
			&:hover {
				border-color: var(--color-dark-spring-green);
			}
		}
	}

	&__placeholder {
		font-weight: 400;
		font-size: 2rem;
		line-height: 2.8rem;
		color: var(--color-ash-grey);
	}

	&__selectedValue {
		background-color: var(--color-light-grayish-green);
		padding: 2px 10px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__selectIcon {
		width: 24px;
		height: 24px;
		transform: rotate(180deg);
		transition: transform 0.3s ease-in-out;
	}

	&__selectIcon__active {
		transform: rotate(0deg);
	}

	&__options {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: var(--color-pure-light);
		box-shadow: 0px 4px 20px 0px #00000014;

		border-radius: 8px;
		max-height: 254px;
		overflow-y: auto;
		z-index: 100;
		margin-top: 6px;
	}

	&__title {
		font-weight: 400;
		font-size: 2.2rem;
		line-height: 3.2rem;
		color: var(--color-eerie-black);
		padding: 5px 16px;
	}

	&__option {
		padding: 9px 16px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		font-weight: 400;
		font-size: 2rem;
		line-height: 2.8rem;
		color: var(--color-dark-cyan-blue);

		transition: background-color 0.2s ease-in-out;

		@media (min-width: 1025px) {
			&:hover {
				background-color: var(--color-light-grayish-green);
			}
		}
	}

	&__removeButton {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 14px;
		margin-left: 10px;
		transition: color 0.2s ease-in-out;
	}
}
