.footerWrap {
	width: 84%;
	margin: 0 auto;
	padding-bottom: 40px;
	flex: 0 0 auto;

	@media (max-width: 1440px) {
		& {
			width: 92%;
		}
	}

	@media (max-width: 1024px) {
		& {
			padding-bottom: 30px;
		}
	}
}

.footerContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 24px;
	width: 586px;
	height: 100px;
	border-top: 2px solid var(--color-cambridge-blue);
	color: var(--color-eerie-black);
	z-index: 1;

	@media (width < 1920px) {
		& {
			width: 448px;
			height: 80px;
		}
	}

	@media (width < 1280px) {
		& {
			width: 728px;
			height: 76px;
			margin: 0px auto;
		}
	}

	@media (width < 1024px) {
		& {
			width: 512px;
		}
	}

	@media (width < 550px) {
		& {
			width: 288px;
			height: 54px;
		}
	}
}

.footerContainer__copyright {
	font-size: 2.2rem;
	line-height: 3.2rem;

	@media (width < 1920px) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	@media (width < 1280px) {
		& {
			text-align: center;
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	@media (width < 550px) {
		& {
			font-size: 1.1rem;
			line-height: 1.3rem;
		}
	}
}

.footerContainer__link {
	font-size: 1.6rem;
	line-height: 2.2rem;
	cursor: pointer;

	@media (width < 1280px) {
		& {
			text-align: center;
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	@media (width < 550px) {
		& {
			font-size: 1.1rem;
			line-height: 1.3rem;
		}
	}
}
