.calculatorPageWrap {
    width: 100%;
    height: 100%;
	background-color: var(--color-pure-light);
    border-radius: 20px;
    padding: 24px 36px;
}

.headerTitle {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 4.4rem;
}

.currencySelectionWrapper {
    display: flex;
    margin-top: 20px;
    &__description{
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem;
    }
}

.currencySelectionRadioGroup {
    display: flex;
    gap: 16px;
    margin-left: 32px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-star-dust);
        border-radius: 16px;
        cursor: pointer;
        transition: border-color 0.3s ease;
    }

    .currencySelectionRadioGroup__input:checked + .currencySelectionRadioGroup__label {
        border-color: var(--color-dark-spring-green);
    }

    &__text {
        color: var(--color-star-dust);
        font-size: 1.6rem;
        font-weight: 400;
        padding: 5px 20px 4px 20px;
        transition: color 0.3s ease;
    }

    .currencySelectionRadioGroup__input:checked + .currencySelectionRadioGroup__label .currencySelectionRadioGroup__text {
        color: var(--color-dark-spring-green);
    }

    @media (min-width: 1025px) {

        &__label:hover {
            border-color: var(--color-dark-spring-green);
        }

        &__text:hover {
            color: var(--color-dark-spring-green);
        }
    }
}

.calculationWrapper {
    margin-top: 20px;
}

.calculatorFormContentWrapper {
    width: 420px;
}

.selectionOfCalculationContainer {
    display: flex;
    justify-content: space-between;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-star-dust);
        border-radius: 24px;
        width: 200px;
        height: 36px;
        cursor: pointer;
        transition: background-color 0.3s ease,
                    border 0.3s ease;
    }

    .selectionOfCalculationContainer__input:checked + .selectionOfCalculationContainer__label {
        border: none;
        background-color: var(--color-dark-sea-green);
    }

    &__text {
        color: var(--color-star-dust);
        font-size: 1.6rem;
        font-weight: 400;
        transition: color 0.3s ease;
    }

    .selectionOfCalculationContainer__input:checked + .selectionOfCalculationContainer__label .selectionOfCalculationContainer__text {
        color: var(--color-pure-light);
    }

    @media (min-width: 1025px) {

        &__label:hover {
            border: none;
            background-color: var(--color-dark-sea-green);
            
            .selectionOfCalculationContainer__text {
                color: var(--color-pure-light);
            }
        }

    }
}






// Необходимо переделать или доделать
.propertyValueContainer {
    margin-top: 20px;

    &__label {
        font-size: 2.0rem;
        font-weight: 400;
        line-height: 28px;
        color: var(--color-very-dark-grayish-blue);
    }
}

.inputRangeFieldConatiner {
    position: relative;
    border: 1px solid var(--color-gainsboro);
    border-radius: 8px;
    overflow: hidden;
    height: 44px;
    margin-top: 4px;
    border-bottom: none;

    &__input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    &__range {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        width: 100%;
        height: 4px;
        -webkit-appearance: none;
        outline: none;
        background: var(--color-dark-sea-green);
    }
}
.inputRangeFieldConatiner__input::-webkit-inner-spin-button,
.inputRangeFieldConatiner__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.inputRangeFieldConatiner__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--color-dark-sea-green);
    border-radius: 50%;
    cursor: pointer;
}
.inputRangeFieldConatiner__range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--color-dark-sea-green);
    border-radius: 50%;
    cursor: pointer;
}