.calculatorPageWrap {
	width: 100%;
	height: 100%;
	background-color: var(--color-pure-light);
	border-radius: 20px;
	padding: 24px 36px;
}

.headerTitle {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 4.4rem;
}

.currencySelectionWrapper {
	display: flex;
	margin-top: 20px;
	&__description {
		font-size: 2rem;
		font-weight: 400;
		line-height: 2.8rem;
	}
}

.currencySelectionRadioGroup {
	display: flex;
	gap: 16px;
	margin-left: 32px;

	&__input {
		display: none;
	}

	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--color-star-dust);
		border-radius: 16px;
		cursor: pointer;
		transition: border-color 0.3s ease;
	}

	.currencySelectionRadioGroup__input:checked + .currencySelectionRadioGroup__label {
		border-color: var(--color-dark-spring-green);
	}

	&__text {
		color: var(--color-star-dust);
		font-size: 1.6rem;
		font-weight: 400;
		padding: 5px 20px 4px 20px;
		transition: color 0.3s ease;
	}

	.currencySelectionRadioGroup__input:checked + .currencySelectionRadioGroup__label .currencySelectionRadioGroup__text {
		color: var(--color-dark-spring-green);
	}

	@media (min-width: 1025px) {
		&__label:hover {
			border-color: var(--color-dark-spring-green);
		}

		&__text:hover {
			color: var(--color-dark-spring-green);
		}
	}
}

.calculationWrapper {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.calculatorFormContentWrapper {
	width: 420px;

	&__submitBtn {
		width: 253px;
		height: 52px;
		margin-top: 24px;
		background: var(--color-dark-spring-green);
		border-radius: 12px;
		font-size: 2rem;
		font-weight: 400;
		line-height: 28px;
		color: var(--color-pure-light);
		cursor: pointer;
		transition: opacity 0.3s ease;
	}

	@media (min-width: 1025px) {
		&__submitBtn:hover {
			opacity: 0.7;
		}
	}
}

.selectionOfCalculationContainer {
	display: flex;
	gap: 20px;

	&__button {
		width: 200px;
		height: 36px;
		border: 1px solid var(--color-star-dust);
		border-radius: 24px;
		cursor: pointer;
		color: var(--color-star-dust);
		font-size: 1.6rem;
		font-weight: 400;
		transition:
			background-color 0.3s ease,
			border 0.3s ease;
	}

	&__button.active {
		border-color: var(--color-dark-sea-green);
		background-color: var(--color-dark-sea-green);
		color: var(--color-pure-light);
	}

	@media (min-width: 1025px) {
		&__button:hover {
			border-color: var(--color-dark-sea-green);
			background-color: var(--color-dark-sea-green);
			color: var(--color-pure-light);
		}
	}
}

.calculationInfoWrapper {
	width: 506px;
	padding: 30px 32px;
	background: var(--color-silver-gray);
	border-radius: 16px;
	display: flex;
	flex-direction: column;

	&__title,
	&__price {
		font-size: 2rem;
		font-weight: 400;
		line-height: 28px;
	}

	&__title {
		margin-top: 16px;
		margin-bottom: 12px;
	}

	.creditInfoWrapper,
	.percentInfoWrapper,
	.creditAndPercentInfoWrapper {
		display: flex;
		justify-content: space-between;
		font-size: 2rem;
		font-weight: 400;
		line-height: 28px;
		color: var(--color-star-dust);
	}

	.creditInfoWrapper {
		margin-top: 16px;
		margin-bottom: 20px;
	}

	.creditAndPercentInfoWrapper {
		margin-top: 20px;
	}
}

.calculationInfoButtonWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__infoIcon {
		width: 22px;
		height: 22px;
		color: var(--color-dark-spring-green);
	}
	&__closeIcon {
		width: 22px;
		height: 22px;
		color: var(--color-star-dust);
		display: none;
	}
}

.spinnerWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
	.calculationWrapper {
		gap: 24px;
	}
	.calculationInfoWrapper {
		width: 100%;
	}
	.calculatorPageWrap {
		padding: 20px 28px;
	}
	.creditInfoWrapper,
	.percentInfoWrapper,
	.creditAndPercentInfoWrapper {
		flex-direction: column;
	}
}

@media (max-width: 1024px) {
	.calculatorFormContentWrapper__submitBtn {
		margin-top: 32px;
	}
}

@media (max-width: 768px) {
	.calculatorFormContentWrapper {
		width: 328px;
	}
	.selectionOfCalculationContainer {
		gap: 16px;

		&__button {
			width: 156px;
		}
	}
	.propertyValueContainer__label,
	.propertyValueContainer__label,
	.propertyValueContainer__label,
	.propertyValueContainer__label {
		font-size: 1.6rem;
		line-height: 22px;
	}
	.inputRangeFieldContainer {
		height: 42px;

		&__input {
			width: 100%;
			height: 36px;
			font-size: 1.6rem;
			line-height: 22px;
		}
	}
	.propertyButtonRadioContainer__text {
		font-size: 1rem;
		line-height: 13px;
		padding: 3px 12px;
	}
}

@media (max-width: 460px) {
	.calculationWrapper {
		position: relative;
	}
	.calculationInfoWrapper {
		transform: scale(0);
		top: 0;
		position: absolute;
		background: var(--color-pure-light);
		z-index: 1100;
		transition: transform 0.4s ease;

		&__title,
		&__price {
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 22px;
		}
	}
	.calculatorFormContentWrapper {
		width: 100%;
	}
	.calculatorPageWrap {
		padding: 0;
	}
	.headerTitle {
		font-size: 2.4rem;
		line-height: 32px;
	}
	.currencySelectionWrapper__description {
		font-size: 1.6rem;
		line-height: 22px;
	}
	.currencySelectionRadioGroup__text {
		font-size: 1.3rem;
		line-height: 18px;
		padding: 3px 16px 2px 16px;
	}
	.calculatorFormContentWrapper__submitBtn {
		margin-top: 28px;
		width: 100%;
	}
	.creditInfoWrapper,
	.percentInfoWrapper,
	.creditAndPercentInfoWrapper {
		flex-direction: row;
	}
	.calculationInfoButtonWrapper__closeIcon {
		display: block;
	}
	.creditInfoWrapper__name,
	.creditInfoWrapper__value,
	.percentInfoWrapper__name,
	.percentInfoWrapper__value,
	.creditAndPercentInfoWrapper__name,
	.creditAndPercentInfoWrapper__value {
		font-size: 1.6rem;
		line-height: 22px;
	}
}
