body,
button {
	font-family: "Rubik", Verdana, Arial, Tahoma, sans-serif;
	font-weight: 400;
	cursor: default;
}

:root {
	--color-pure-light: #ffffff;
	--color-silver-gray: #f8f8f8;
	--color-ghost-white: #f1f1f2;
	--color-anti-flash-white: rgba(241, 241, 242, 0.9);
	--color-light-grayish-blue: #f1f1f2;
	--color-light-grayish-green: #ebf2ed;
	--color-light-grayish-cyan: #edf2ef;
	--color-light-spring-green: #dae7de;
	--color-very-dark-grayish-blue: #434546;
	--color-dark-sea-green: #90b89e;
	--color-dark-spring-green: #21703c;
	--color-cal-poly-pomona-green: #1a572e;
	--color-light-green: #a3c0bb;
	--color-jasmine: #ffde82;
	--color-mustard: #ffd45c;
	--color-sandy-drown: #f0a956;
	--color-carrot-orange: #ec9128;
	--color-bright-maroon: #c22347;
	--color-cambridge-blue: #a3c0bb;
	--color-gainsboro: #dcdddd;
	--color-light-silver: #d9d9d9;
	--color-chinese-silver: #ccc;
	--color-ash-grey: #bbbbbb;
	--color-star-dust: #9c9d9d;
	--color-dark-cyan-blue: #434546;
	--color-eerie-black: #17191a;
	--color-black-light: #ffffff1a;
	--color-eerie-black-opacity: rgba(23, 25, 26, 0.35);
	--color-gray-umber-light: #2b2d331f;
	--color-black-third-part: rgba(0, 0, 0, 0.3);
	--color-black-eight-part: #0000001f;
	--color-black-two-of-third: #000000b3;
	--color-pure-black: #000;

	--color-lavender-blush: #b48dad;
	--color-sage-green: #bfc3a8;
	--color-light-peach: #eed6cd;
	--color-burnt-orange: #b83400;
	--color-soft-tan: #c88b79;
	--color-peach: #ff9d73;
	--color-dusty-rose: #c7b2af;
	--color-steel-blue: #8891a8;
	--color-sunny-yellow: #edc915;
	--color-peach-pink: #f8ab9e;
	--color-forest-green: #489177;
	--color-olive-green: #8f9e3e;
	--color-pale-lemon: #eef6c6;
	--color-dark-olive: #8f670a;
	--color-golden-olive: #c0a30f;
	--color-light-blue-gray: #afb9cf;
	--color-burnt-orange: #c66a04;
	--color-bright-lime: #dbed15;

	--previous-value-1: 1%;
	--previous-value-2: calc(var(--previous-value-1) + 3%);
	--previous-value-3: calc(var(--previous-value-2) + 2.5%);
	--previous-value-4: calc(var(--previous-value-3) + 1.26%);
	--previous-value-5: calc(var(--previous-value-4) + 2.04%);
	--previous-value-6: calc(var(--previous-value-5) + 11.7%);
	--previous-value-7: calc(var(--previous-value-6) + 0.3%);
	--previous-value-8: calc(var(--previous-value-7) + 0.75%);
	--previous-value-9: calc(var(--previous-value-8) + 1.03%);
	--previous-value-10: calc(var(--previous-value-9) + 7%);
	--previous-value-11: calc(var(--previous-value-10) + 12.4%);
	--previous-value-12: calc(var(--previous-value-11) + 2%);
	--previous-value-13: calc(var(--previous-value-12) + 4.95%);
	--previous-value-14: calc(var(--previous-value-13) + 1.3%);
	--previous-value-15: calc(var(--previous-value-14) + 20%);
	--previous-value-16: calc(var(--previous-value-15) + 0.4%);
	--previous-value-17: calc(var(--previous-value-16) + 7%);
	--previous-value-18: calc(var(--previous-value-17) + 7%);
	--previous-value-19: calc(var(--previous-value-18) + 7%);
}
