@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body,
button {
	font-family: "Rubik", Verdana, Arial, Tahoma, sans-serif;
	cursor: default;
}

:root {
	--color-pure-light: #ffffff;
	--color-silver-gray: #f8f8f8;
	--color-dark: #17191a;
	--color-button-gradient: linear-gradient(179.76deg, #ffde82 0.21%, #f0a956 172.57%);
}
