* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow: visible;
}

ul,
ol {
	list-style: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	outline: none;
	outline-offset: none;
	border: 1px solid transparent;
	background: #fff;
	cursor: pointer;
	user-select: none;
}

input,
textarea,
select {
	outline: none;
	border: solid 1px #fff;
	padding: 0;
}

img {
	user-select: none;
	scrollbar-gutter: stable;
}

table {
	border-collapse: collapse;
}
