.mainPageWrap {
	display: flex;
	flex-direction: column;
	gap: 62px;
	background: var(--color-pure-light);
	width: 100%;
	margin: 0 auto;

	@media (width < 1280px) {
		& {
			padding: 0px 0px 36px;
			gap: 0px;
		}
	}

	@media (width < 550px) {
		& {
			padding: 0px 0px 20px;
		}
	}
}
