.mainPageWrap {
	display: flex;
	flex-direction: column;
	gap: 62px;
	background: var(--color-pure-light);
	width: 100%;
	max-width: 1760px;
	padding: 56px 0px;
	margin: 0px auto;
	
	@media (width < 1920px) {
		& {
			max-width: 1344px;
			padding: 48px 0px;
			gap: 140px;
		}
	}

	@media (width < 1440px) {
		max-width: 1190px;
	}

	@media (width < 1280px) {
		& {
			padding: 0px 0px 36px;
			gap: 0px;
		}
	}

	@media (width < 550px) {
		& {
			padding: 0px 0px 20px;
		}
	}
}
