.expensesPageWrap {
	padding: 10px;
	width: 100%;
	background-color: var(--color-silver-gray);

	@media (max-width: 490px) {
		& {
			background-color: var(--color-pure-light);
			padding: 0px 10px 10px 10px;
		}
	}
}

.expensesPageContainer {
	display: flex;
	flex-direction: column;
	background-color: var(--color-silver-gray);
	min-height: 100vh;

	@media (max-width: 490px) {
		& {
			background-color: var(--color-pure-light);
		}
	}
}

.expensesFormContentWrapper {
	border-radius: 20px;
	background-color: var(--color-pure-light);
}

.headerTitle {
	font-weight: 500;
	font-size: 3.6rem;
	line-height: 4.4rem;
	margin: 16px 34px;

	@media (max-width: 490px) {
		margin: 0px 0px 16px 0px;
	}
}

.expensesByDateContainer {
	display: flex;
	gap: 20px;

	@media (max-width: 1440px) {
		& {
			gap: 16px;
		}
	}

	@media (max-width: 490px) {
		& {
			gap: 14px;
		}
	}
}

.totalMonthlyWrapper {
	max-width: 420px;
	background-color: var(--color-dark-sea-green);
	width: 38%;
	padding-top: 16px;
	padding-left: 20px;
	border-radius: 12px;

	&__month {
		font-size: 2rem;
		line-height: 2.8rem;
		color: var(--color-pure-light);
	}

	&__sum {
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 3.2px;
		color: var(--color-pure-light);
		margin-top: 20px;
	}

	@media (max-width: 1440px) {
		width: 42%;
	}

	@media (max-width: 1100px) {
		width: 39%;
	}

	@media (max-width: 800px) {
		width: 46%;
	}

	@media (max-width: 490px) {
		width: 50%;
		padding-top: 10px;
		&__month {
			width: 78%;
			font-size: 1.3rem;
			line-height: 1.8rem;
		}
		&__sum {
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: 400;
			margin-top: 6px;
		}
	}
}

.dateSelectionWrapper {
	max-width: 400px;
	background-color: var(--color-light-grayish-green);
	width: 38%;
	padding: 16px;
	border-radius: 12px;

	&__description {
		font-size: 1.3rem;
		line-height: 1.8rem;
		color: var(--color-very-dark-grayish-blue);
		display: none;
	}

	@media (max-width: 1440px) {
		& {
			width: 46%;
		}
	}

	@media (max-width: 1100px) {
		& {
			width: 39%;
		}
	}

	@media (max-width: 800px) {
		& {
			width: 48%;
			margin: 0;
		}
	}

	@media (max-width: 490px) {
		& {
			width: 50%;
			padding-top: 10px;
		}

		&__description {
			display: inline;
			margin-left: 10px;
		}
	}
}

.expensesDetailsContainer {
	display: grid;
	grid-template-columns: 37% 25% 38%;
	grid-template-rows: 72px;
	column-gap: 20px;
	align-items: stretch;
	margin-top: 30px;
	width: 100%;
	box-sizing: border-box;

	&__category,
	&__sum {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		min-width: 0;
	}

	.addButtonWrapper {
		height: 100%;
		display: flex;
	}

	.addButtonWrapper button {
		height: 100%;
		width: 100%;
		max-width: 100%;
		justify-content: flex-end;
		align-items: flex-end;
	}

	@media (max-width: 1440px) {
		grid-template-columns: 42% 30% 28%;
	}
	@media (max-width: 1100px) {
		grid-template-columns: 38% 34% 28%;
	}
	@media (max-width: 800px) {
		grid-template-columns: 45% 42% 13%;
		column-gap: 12px;
	}
	@media (max-width: 490px) {
		grid-template-columns: 48% 44% 8%;
		column-gap: 8px;
	}
}

.addButtonIcon {
	display: none;

	@media (max-width: 800px) {
		& {
			display: inline;
			width: 18px;
			margin-top: 6px;
		}
	}

	@media (max-width: 490px) {
		width: 14px;
	}
}

.expensesTransactionsWrapper {
	margin-top: auto;
	border-radius: 20px;
	background-color: var(--color-pure-light);

	@media (max-width: 490px) {
		border-radius: 0;
	}
}

.expensesTransactionHeader {
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 500;
	margin: 12px;

	@media (max-width: 490px) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: 400;
			margin: 0 16px;
		}
	}
}

.transactionsContainer {
	display: flex;
	text-align: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 18px;

	@media (max-width: 1440px) {
		& {
			padding-left: 0;
		}
	}

	@media (max-width: 800px) {
		& {
			padding-left: 0;
		}
	}
}
