.expensesPageWrap {
	padding: 10px;
	width: 100%;
	background-color: var(--color-silver-gray);

	@media (max-width: 490px) {
		& {
			background-color: var(--color-pure-light);
			padding: 0px 10px 10px 10px;
		}
	}
}

.expensesPageContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--color-silver-gray);
	min-height: 100vh;

	@media (max-width: 490px) {
		& {
			background-color: var(--color-pure-light);
		}
	}
}

.expensesFormContentWrapper {
	padding: 24px 36px 136px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	background-color: var(--color-pure-light);
	gap: 20px;

	@media (max-width: 1440px) {
		padding: 20px 28px 116px;
	}

	@media (max-width: 1150px) {
		padding: 24px 24px;
	}

	@media (max-width: 426px) {
		padding: 0;
	}
}

.headerTitle {
	font-weight: 500;
	font-size: 3.6rem;
	line-height: 4.4rem;
	margin: 16px 0;

	@media (max-width: 490px) {
		margin: 0 0 16px;
	}
}

.expensesGridWrapper {
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 18px;

	@media (max-width: 1100px) {
		grid-template-columns: 360px auto;
	}

	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		gap: 16px;
	}

	@media (max-width: 430px) {
		gap: 8px;
		// grid-template-columns: repeat(2, 190px);
		// overflow: hidden;
	}

	@media (max-width: 410px) {
		grid-template-columns: repeat(2, 174px);
	}

	@media (max-width: 390px) {
		grid-template-columns: repeat(2, 164px);
	}

	@media (max-width: 370px) {
		grid-template-columns: repeat(2, 160px);
	}
}

.expensesByDateContainer {
	display: flex;
	gap: 20px;

	@media (max-width: 1440px) {
		& {
			gap: 16px;
		}
	}

	@media (max-width: 490px) {
		& {
			gap: 14px;
		}
	}
}

.totalMonthlyWrapper {
	background-color: var(--color-dark-sea-green);
	border-radius: 12px;
	width: 100%;
	max-width: 400px;
	padding: 15px 20px 15px 20px;
	color: var(--color-pure-light);

	@media (max-width: 1500px) {
		max-width: 310px;
	}

	@media (max-width: 1100px) {
		max-width: 360px;
	}

	@media (max-width: 426px) {
		padding: 10px 15px;
	}

	&__month {
		font-size: 2rem;
		font-weight: 400;
		line-height: 2.8rem;

		@media (max-width: 490px) {
			font-size: 1.3rem;
			line-height: 1.8rem;
		}
	}

	&__sum {
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 3.2rem;
		margin-top: 9px;

		@media (max-width: 490px) {
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 2.2rem;
		}
	}
}

.dateSelectionWrapper {
	width: 100%;
	max-width: 400px;
	background-color: var(--color-light-grayish-green);
	padding: 15px 20px;
	border-radius: 12px;
	margin-right: 180px;

	@media (max-width: 1500px) {
		max-width: 340px;
		margin-right: 56px;
	}

	@media (max-width: 1200px) {
		margin-right: 0;
	}

	@media (max-width: 1100px) {
		max-width: 360px;
		margin-right: 56px;
	}

	@media (max-width: 768px) {
		width: 100%;
	}
}

.expensesDetailsContainer {
	display: flex;
	align-items: flex-end;
	gap: 40px;
	width: 100%;

	@media (max-width: 1440px) {
		gap: 28px;
	}

	@media (max-width: 1200px) {
		gap: 24px;
	}

	@media (max-width: 426px) {
		gap: 8px;
	}

	&__category {
		width: 100%;
		max-width: 400px;

		@media (max-width: 1500px) {
			max-width: 310px;
		}

		@media (max-width: 1100px) {
			max-width: 360px;
		}

		@media (max-width: 620px) {
			width: 47%;
		}

		@media (max-width: 430px) {
			width: 100%;
		}
	}

	&__sum {
		width: 100%;
		width: clamp(160px, calc(160px + (406) * ((100vw - 360px) / (1560))), 566px);
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 40px;

		@media (max-width: 1390px) {
			width: 270px;
			gap: 20px;

			& > div {
				min-width: 170px;
			}
		}

		@media (max-width: 1350px) {
			width: 270px;

			& > div {
				min-width: 140px;
			}
		}

		@media (max-width: 1350px) {
			width: 270px;

			& > div {
				min-width: 140px;
			}
		}

		@media (max-width: 1100px) {
			width: 100%;
			max-width: 100%;
			gap: 40px;

			& > div {
				min-width: 10px;
			}
		}

		@media (max-width: 426px) {
			width: 78%;
			gap: 8px;
		}

		@media (max-width: 410px) {
			& > div {
				min-width: 128px;
			}
		}

		@media (max-width: 390px) {
			& > div {
				min-width: 118px;
			}
		}

		@media (max-width: 370px) {
			& > div {
				min-width: 114px;
			}
		}
	}
}

.addButtonIcon {
	display: none;

	@media (max-width: 800px) {
		& {
			display: inline;
			width: 18px;
			margin-top: 6px;
		}
	}

	@media (max-width: 490px) {
		width: 14px;
	}
}

.expensesTransactionsWrapper {
	margin-top: 20px;
	padding: 24px 36px;
	background-color: var(--color-pure-light);
	border-radius: 20px;

	@media (max-width: 1440px) {
		padding: 20px 28px;
	}

	@media (max-width: 1024px) {
		padding: 24px 24px;
	}

	@media (max-width: 769px) {
		padding: 20px 24px;
	}

	@media (max-width: 426px) {
		padding: 0;
	}
}

.expensesTransactionHeader {
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 500;
	margin: 12px;

	@media (max-width: 490px) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: 400;
			margin: 0 16px;
		}
	}
}

.transactionsContainer {
	display: flex;
	text-align: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 18px;

	@media (max-width: 1440px) {
		& {
			padding-left: 0;
		}
	}

	@media (max-width: 800px) {
		& {
			padding-left: 0;
		}
	}
}
