.profitMoneyPageWrap {
	width: 100%;
	height: 100%;
	background-color: var(--color-silver-gray);

	@media (max-width: 490px) {
		& {
			background-color: var(--color-pure-light);
		}
	}
}

.profitMoneyPageContainer {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--color-silver-gray);

	@media (max-width: 490px) {
		& {
			background-color: var(--color-pure-light);
		}
	}
}

.formContentWrapper {
	padding: 24px 36px 136px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 20px;
	background-color: var(--color-pure-light);

	@media (max-width: 1440px) {
		padding: 20px 28px 116px;
	}

	@media (max-width: 1150px) {
		padding: 24px 24px;
	}

	@media (max-width: 490px) {
		padding: 0;
	}
}

.headerTitle {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 4.4rem;

	@media (max-width: 490px) {
		margin-bottom: 16px;
	}
}

.profitMoneyGridWrapper {
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 18px;

	@media (max-width: 1100px) {
		grid-template-columns: 360px auto;
	}

	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		gap: 16px;
	}

	@media (max-width: 430px) {
		gap: 8px;
		// grid-template-columns: repeat(2, 190px);
		// overflow: hidden;
	}

	@media (max-width: 410px) {
		grid-template-columns: repeat(2, 174px);
	}

	@media (max-width: 390px) {
		grid-template-columns: repeat(2, 164px);
	}

	@media (max-width: 370px) {
		grid-template-columns: repeat(2, 160px);
	}
}

// Draft styles from v1.0
.profitMoneyByDateContainer {
	display: flex;
	max-height: 118px;
	gap: 40px;

	@media (max-width: 1440px) {
		& {
			gap: 28px;
		}
	}

	@media (max-width: 490px) {
		& {
			height: 100%;
			gap: 14px;
		}
	}
}

.totalMonthlyWrapper {
	width: 100%;
	max-width: 400px;
	padding: 16px 20px;
	background-color: var(--color-dark-sea-green);
	border-radius: 12px;
	color: var(--color-pure-light);

	@media (max-width: 1500px) {
		max-width: 310px;
	}

	@media (max-width: 1100px) {
		max-width: 360px;
	}

	@media (max-width: 490px) {
		& {
			padding: 10px 15px;
		}
	}

	&__month {
		font-size: 2rem;
		line-height: 2.8rem;

		@media (max-width: 490px) {
			& {
				font-size: 1.3rem;
				line-height: 1.8rem;
			}
		}
	}

	&__sum {
		margin-top: 9px;
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 3.2rem;

		@media (max-width: 490px) {
			& {
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 2.2rem;
			}
		}
	}
}

.dateSelectionWrapper {
	margin-right: 180px;
	width: 100%;
	max-width: 400px;
	background-color: var(--color-light-grayish-green);
	padding: 16px 20px;
	border-radius: 12px;

	@media (max-width: 1500px) {
		max-width: 340px;
		margin-right: 56px;
	}

	@media (max-width: 1200px) {
		margin-right: 0;
	}

	@media (max-width: 1100px) {
		max-width: 360px;
		margin-right: 56px;
	}

	@media (max-width: 768px) {
		width: 100%;
	}
}

.profitMoneyDetailsContainer {
	// Draft styles from v1.0
	display: flex;
	align-items: flex-end;
	gap: 40px;
	width: 100%;

	@media (max-width: 1440px) {
		gap: 28px;
	}

	@media (max-width: 1200px) {
		gap: 24px;
	}

	@media (max-width: 426px) {
		gap: 8px;
	}
	// End of draft styles

	&__category {
		width: 100%;
		max-width: 400px;

		@media (max-width: 1500px) {
			max-width: 310px;
		}

		@media (max-width: 1100px) {
			max-width: 360px;
		}

		@media (max-width: 620px) {
			width: 47%;
		}

		@media (max-width: 430px) {
			width: 100%;
		}
	}

	&__sum {
		width: 100%;
		width: clamp(160px, calc(160px + (406) * ((100vw - 360px) / (1560))), 566px);
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 40px;

		@media (max-width: 1390px) {
			width: 270px;
			gap: 20px;

			& > div {
				min-width: 170px;
			}
		}

		@media (max-width: 1350px) {
			width: 270px;

			& > div {
				min-width: 140px;
			}
		}

		@media (max-width: 1350px) {
			width: 270px;

			& > div {
				min-width: 140px;
			}
		}

		@media (max-width: 1100px) {
			width: 100%;
			max-width: 100%;
			gap: 40px;

			& > div {
				min-width: 10px;
			}
		}

		@media (max-width: 426px) {
			width: 78%;
			gap: 8px;
		}

		@media (max-width: 410px) {
			& > div {
				min-width: 128px;
			}
		}

		@media (max-width: 390px) {
			& > div {
				min-width: 118px;
			}
		}

		@media (max-width: 370px) {
			& > div {
				min-width: 114px;
			}
		}
	}
}

.addButtonIcon {
	display: none;

	@media (max-width: 800px) {
		& {
			display: inline;
			width: 18px;
			height: 18px;
			margin-top: 6px;
		}
	}

	@media (max-width: 490px) {
		width: 14px;
		height: 14px;
	}
}

.transactionsWrapper {
	margin-top: 20px;
	border-radius: 20px;
	padding: 24px 36px;
	background-color: var(--color-pure-light);

	@media (max-width: 1440px) {
		padding: 20px 28px;
	}

	@media (max-width: 1024px) {
		padding: 24px 24px;
	}

	@media (max-width: 769px) {
		padding: 20px 24px;
	}

	@media (max-width: 490px) {
		border-radius: 0;
		padding: 0;
	}
}

.transactionHeader {
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 500;
	margin-bottom: 20px;

	@media (max-width: 490px) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: 400;
			margin: 0 16px;
		}
	}
}

.transactionsContainer {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding-left: 18px;

	@media (max-width: 1440px) {
		& {
			padding-left: 0;
		}
	}
}
