.avatarForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;

	@media (max-width: 1440px) {
		gap: 24px;
	}

	@media (max-width: 600px) {
		gap: 20px;
	}
}

.avatarForm__title {
	font-size: 2.6rem;
	line-height: 3.8rem;
	color: var(--color-eerie-black);
	align-self: flex-start;

	@media (max-width: 600px) {
		font-size: 2rem;
		line-height: 2.8rem;
	}
}

.avatarSettingsWrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
	justify-content: flex-start;
}

.avatar__wrapper {
	position: relative;
	margin-bottom: 20px;
	align-self: center;

	@media (max-width: 600px) {
		margin-bottom: 10px;
	}
}

.avatar__picture {
	position: relative;
}

.avatar__image {
	width: 110px;
	height: 110px;
	border-radius: 50%;

	@media (max-width: 600px) {
		width: 60px;
		height: 60px;
	}
}

.avatar__editButtonWrapper {
	position: absolute;
	bottom: -16px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	@media (max-width: 600px) {
		bottom: -8px;
	}
}

.avatar__editButton {
	cursor: pointer;
	width: 36px;
	height: 36px;

	@media (max-width: 600px) {
		width: 24px;
		height: 24px;
	}
}

.avatar__editIcon {
	width: 36px;
	height: 36px;

	@media (max-width: 600px) {
		width: 24px;
		height: 24px;
	}
}

.avatar__input {
	display: none;
}

.avatarTemplatesWrap {
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 12px;
	align-content: center;
	justify-content: center;
	width: 100%;

	@media (max-width: 600px) {
		gap: 20px;
		max-width: 370px;
	}
}

.templateAvatar__input {
	display: none;
}

.templateAvatar__label {
	display: flex;
	border-radius: 50%;
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		border: 1px solid var(--color-dark-sea-green);
	}

	@media (max-width: 600px) {
		width: 60px;
		height: 60px;
	}
}

.templateAvatar__label_active {
	border: 1px solid var(--color-dark-spring-green);

	&:hover {
		border: 1px solid var(--color-dark-spring-green);
	}
}

.avatarTemplates__img {
	width: 80px;
	height: 80px;
	@media (max-width: 600px) {
		width: 60px;
		height: 60px;
	}
}
