.videoResponsive {
    overflow: hidden;
    padding-bottom: 56.26%;
    position: relative;
    height: 0;
}

.videoResponsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.fallbackImageWrapper {
    position: relative;
    text-align: center;
}

.fallbackImage {
    width: 700px;
    height: 500px;

    &__Text {
        position: absolute;
        width: 300px;
        top: 10%;
        left: 38%;
    }
    
}