.backgroundModal {
	position: fixed;
	background-color: rgb(217, 217, 217, 1);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.changePasswordResponseModalWrap {
	width: 564px;
	height: 336px;
	border-radius: 12px;
	position: absolute;
	left: 500px;
	top: 150px;
	box-shadow: 0 4 20px 0px rgba(0, 0, 0, 0.12);
	border: none;

	@media (max-width: 540) {
		& {
			width: 340px;
			height: 194px;
			left: 100px;
		}
	}
	@media (max-width: 340) {
		& {
			left: 4px;
		}
	}
}

.changePasswordResponseModalContainer {
	text-align: center;
	padding-top: 40px;

	@media (max-width: 540) {
		& {
			padding-top: 5px;
		}
	}
}

.changePasswordResponseModalContainer__title {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 4.4rem;
	margin: 20px 15px;
	@media (max-width: 540) {
		& {
			font-size: 2.4rem;
			line-height: 3.2rem;
			margin-bottom: 5px;
		}
	}
}

.changePasswordResponseModalContainer__subtitle {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.2rem;
	text-align: left;
	width: 448px;
	margin-left: 55px;
	padding-top: 20px;

	@media (max-width: 540) {
		& {
			font-size: 1.6rem;
			line-height: 2.2rem;
			width: 300px;
			padding-top: 10px;
			margin-left: 35px;
		}
	}
}
