.rectangle {
  display: flex;
}

.main {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 200px;
}

.mainField {
  display: grid;
  grid-template-columns: 1fr minmax(150px, 400px);
}

.mainFieldBlock {
  padding-top: 171px;
}
