.rectangle {
  /* width: 1920px;
  height: 1080px;
  background-color: #faf5e433;
  margin-left: 120px; */
}

.main {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 160px;
}

.mainField {
  display: grid;
  grid-template-columns: 1fr minmax(150px, 600px);
}

.mainFieldBlock {
  padding-top: 171px;
}
