.BlogPageWrap {
	width: calc(100vw - 20px);
	height: 876px;
	margin-top: 10px;
	margin-left: 6px;
	padding-left: 60px;
	background-color: var(--color-silver-gray);
	
	@media (max-width: 1024) {
		& {
			height: 1222px;
			padding-left: 0px;
		}
	}

	@media (max-width: 810) {
		& {
			width: 100vw;
			height: 894px;
			margin-left: 0px;
		}
	}

	@media (max-width: 460) {
		& {
			height: 720px;			
		}
	}
}

.BlogPageContainer {
	margin-bottom: 30px;

	@media (max-width: 400) {
		& {
			margin-bottom: 0;
			padding-bottom: 10px;
		}
	}
}

.BlogPageButtonLeftWrapper {
	padding-top: 20px;
	margin-bottom: 40px;
	margin-left: 40px;

	@media (max-width: 768) {
		& {
			display: none;
		}
	}
}

.BlogPageButtonLeft {
	width: 158px;
	height: 28px;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.8rem;
	cursor: pointer;
	background-color: var(--color-silver-gray);
}

.BlogPageArrowLeftIcon {
	width: 24px;
	height: 24px;
	margin-bottom: -6px;
	margin-right: 26px;
}
